@media (max-width: 1280px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1,
   .whitebox,
   .navigation,
   .section2bcimg,
   .boxcontainer {flex-wrap: wrap;}
   .part1div1,
   .part1div2 {
      flex-direction: column;
   }
}
@media (max-width: 1024px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .part4,
   .part4title,
   .part4photos,
   .comment  {
      flex-direction: column;
   }
}
@media (max-width: 900px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1{
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
}
@media (max-width: 800px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1,
   .part4 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment  {
      flex-direction: column;
   }
}
@media (max-width: 768px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
}
@media (max-width: 600px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
}
@media (max-width: 480px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1,
   .comment  {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
}
@media (max-width: 412px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
 }
 @media (max-width: 360px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
}
 @media (max-width: 320px) {
   .header,
   .img,
   .part1,
   .part2,
   .part3,
   .part4,
   .intro1 {
      flex-wrap: wrap;
   }
   .part1div1,
   .part1div2
   .navigation,
   .part4,
   .part4title,
   .part4photos,
   .comment   {
      flex-direction: column;
   }
 }

