/* Header */
.header {
    width: 100%;
}
.img {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.navigation {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.text {
    display: flex;
    flex-wrap: wrap;
}
.nav-text {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 45px 0px 0px;
    margin: 30px 0px 0px 0px;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    font-family: 'Poppins';
}
.nav-text:hover {
    color: rgb(54, 125, 255);
}
.intro1  {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 194.5px 0px 0px 190px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.title1 {
    color: white;
    font-size: 42px;
    font-family: 'Poppins';
}
.intro2 {
    display: flex;
    flex-wrap: wrap;
}
.title2 {
    color: white;
    font-size: 20px;
    padding: 18px 17.5px 0px 0px;
    font-family: 'Poppins';
}
.title2::after {
    content: "";
    display: inline-block;
    margin-left: 17.5px;
    width: 2px;
    height: 15px;
    background-color: white;
}
.title22 {
    color: white;
    font-size: 20px;
    padding: 18px 17.5px 0px 0px;
    font-family: 'Poppins';
}
/* Header */
/* Section 1*/
.part1 {
    width: 100%;
    margin: 0px 0px 90px 0px;
    display: flex;
    justify-content: space-around;
}
.part1div1 {
    width: 50%;
    height: 400px;
    padding: 0px 0px 0px 120px;
    display: flex;
    flex-flow: column;
}
.aboutus {
    color: rgb(54, 125, 255);
    font-size: 20px;
    margin: 50px 0px 20px 0px;
    font-family: 'Poppins';
}
.part1div1child1 {
    width: 300px;
    margin-bottom: 30px;
    font-size: 42px;
    font-family: 'Poppins';
}
.part1div1child2 {
    height: 80px;
    width: 600px;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
}
.part1div1child3 {
    height: 80px;
    width: 600px;
    font-size: 16px;
    margin-bottom: 35px;
    font-family: 'Poppins';
}
.button {
    border: none;
    text-decoration: none;
    width: 185px;
    height: 50px;
    border-radius: 2px;
    color: white;
    background-color: rgb(54, 125, 255);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    font-family: 'Poppins';
}
.button:hover {
    background-color: peru;
}
.arrow {
    padding: 0px 0px 0px 10px;
    font-family: 'Poppins';
}
.part1div2 {
    width: 50%;
    margin: 50px 0px 0px 140px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}
.img11 {
    margin: 0px 10px 16px 0px;
}
.img1 {
    margin: 0px 0px 16px 0px;
}
/* Section 1*/
/* Section 2*/
.part2 {
    width: 100%;
}
.img2 {
    width: 100%;
    filter: brightness(50%);
}
.section2bcimage {
    position: relative;
}
.bc2title {
    position: absolute;
    top: 130px;
    left: 100px;
    width: 350px;
    color: white;
    font-family: 'Poppins';
}
.bc2text1 {
    color: rgb(54, 125, 255);
    font-size: 22px;
    padding: 0px 0px 10px 0px;
    font-family: 'Poppins';
}
.bc2text2 {
    color: white;
    font-size: 42px;
}
.boxcontainer {
    width: 100%;
    bottom: 90px;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.whitebox {
    width: 260px;
    height: 260px;
    background: white;
    bottom: 50px;
    left: 50px;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    padding: 20px 0px 0px 0px;
    border-radius: 4px;
    font-family: 'Poppins';
}
.buildingicon {
    background-color: rgb(54, 125, 255);
    width: 55px;
    height: 55px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
}
.whiteboxtext1 {
    width: 100%;
    font-size: 18px;
    padding: 0px 0px 5px;
    text-align: center;
}
.whiteboxtext2 {
    width: 160px;
    height: 60px;
    font-size: 14px;
    text-align: center;
}
/* Section 2*/
/* Section 3*/
.part3 {
    width: 100%;
    height: 500px;
    margin: 30px 0px 30px 0px;
}
.comment {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.section3container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.testimonials {
    color:  rgb(54, 125, 255);
    font-size: 22px;
    font-family: 'Poppins';
}
.customers {
    font-size: 42px;
    font-family: 'Poppins';
}
.marius {
    width: 230px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: 'Poppins';
}
.mariuscomment {
    width: 350px;
    font-family: 'Poppins';
}
/* Section 3*/
/* Section 4*/
.part4 {
    width: 100%;
}
.part4title {
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    margin: 109px 0px 54px 160px;
}
.part4photostext {
    font-size: 22px;
    color: rgb(54, 125, 255);
    font-family: 'Poppins';
}
.part4text {
    font-size: 42px;
    font-family: 'Poppins';
}
.part4photos {
    width: 100%;
    margin: 0px 0px 50px 0px;
    display: flex;
    justify-content: space-around;
}
/* Section 4*/
/* Footer */
.footer {
    width: 100%;
    height: 400px;
    background-color: #121212;
    display: flex;
    flex-wrap: wrap;
    padding: 90px 0px 0px 0px;
}
.footerplace {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.sectiontext {
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.poppins {
    font-family: 'Poppins';
}
.sectiontext:hover {
    color: rgb(54, 125, 255);
}
.space {
    padding-right: 10px;
}
.section1{
    width: 260px;
    height: 190px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.section1title {
    color: white;
    font-size: 24px;
    font-family: 'Poppins';
}
.section1text {
    color: #B1B1B1;
    font-family: 'Poppins';
}
.socmedia {
    padding: 0px 10px 0px 0px;
    color: white;
    font-size: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.socmedia:hover {
    color: rgb(54, 125, 255);
}
.section2 {
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.section3 {
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.section4 {
    height: 190px;
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
}
.contacticons {
    display: flex;
    flex-wrap: wrap;
}
.icons {
    color: white;
    font-size: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.icons:hover {
    color: rgb(54, 125, 255);
}
.copyright {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin: 54px 0px 0px 120px;
    font-family: 'Poppins';
}
.bracket {
    padding-right: 10px;
    display: inline-block;
    vertical-align: bottom;
}
.bracket::after {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    background-color: white;
    height: 15px;
    width: 2px;
    margin-left: 10px;
}
.mariam {
    color: rgb(54, 125, 255);
}
/* Footer */