/* Header */
.headerbackground {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.img {
    width: 100%;
    position: absolute;
}
.navigation {
    position: absolute;
    display: flex;
}
.title {
    color: white;
    font-size: 20px;
    margin: 30px 0px 0px 0px;
}
.text {
    display: flex;
}
.nav-text {
    display: flex;
    padding: 0px 45px 0px 0px;
    margin: 30px 0px 0px 0px;
    color: white;
    font-size: 20px;
}